{%- set _preview = block('preview') is defined ? block('preview')|trim : null %}
{% set _form = block('form') is defined ? block('form')|trim : null %}
{% set _show = block('show') is defined ? block('show')|trim : null %}
{% set _list_table = block('list_table') is defined ? block('list_table')|trim : null %}
{% set _list_filters = block('list_filters') is defined ? block('list_filters')|trim : null %}
{% set _tab_menu = block('tab_menu') is defined ? block('tab_menu')|trim : null %}
{% set _content = block('content') is defined ? block('content')|trim : null %}
{% set _title = block('title') is defined ? block('title')|trim : null %}
{% set _breadcrumb = block('breadcrumb') is defined ? block('breadcrumb')|trim : null %}
{% set _actions = block('actions') is defined ? block('actions')|trim : null %}
{% set _navbar_title = block('navbar_title') is defined ? block('navbar_title')|trim : null %}
{% set _list_filters_actions = block('list_filters_actions') is defined ? block('list_filters_actions')|trim : null -%}

<!DOCTYPE html>
<html lang="fr" {% block html_attributes %}class="no-js"{% endblock %}>
    <head>
        {% block meta_tags %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% endblock %}
        <title>
            {% block sonata_head_title %}
                {{ 'Admin'|trans({}, 'SonataAdminBundle') }}

                {% if _title is not empty %}
                    {{ _title|striptags|raw }}
                {% else %}
                    {% if action is defined %}
                        -
                        {% for menu in breadcrumbs_builder.breadcrumbs(admin, action) %}
                            {% if not loop.first %}
                                {% if loop.index != 2 %}
                                    &gt;
                                {% endif %}

                                {%- set translation_domain = menu.extra('translation_domain', 'messages') -%}
                                {%- set label = menu.label -%}
                                {%- if translation_domain is not same as(false) -%}
                                {%- set label = label|trans(menu.extra('translation_params', {}), translation_domain) -%}
                                {%- endif -%}

                                {{ label }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endblock %}
        </title>

        <!--
        {% block stylesheets %}
            {% for stylesheet in sonata_admin.adminPool.getOption('stylesheets', []) %}
                <link rel="stylesheet" href="{{ asset(stylesheet) }}">
            {% endfor %}
        {% endblock %}-->

        <!-- Line Awesome -->
        <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://s3.eu-west-3.amazonaws.com/carcustom-prod/css/bootstrap.min.css">
        <!-- Material Design Bootstrap -->
        <link rel="stylesheet" href="https://s3.eu-west-3.amazonaws.com/carcustom-prod/css/mdb.min.css">
        
        <!-- JQuery -->
        <script src="https://s3.eu-west-3.amazonaws.com/carcustom-prod/js/jquery-3.3.1.min.js"></script>
    </head>

    <body 
        {% block body_attributes -%}
            class="fixed-sn white-skin"
            data-sonata-admin='{{ {
			config: {
				CONFIRM_EXIT: sonata_admin.adminPool.getOption('confirm_exit'),
				USE_SELECT2: sonata_admin.adminPool.getOption('use_select2'),
				USE_ICHECK: sonata_admin.adminPool.getOption('use_icheck'),
				USE_STICKYFORMS: sonata_admin.adminPool.getOption('use_stickyforms'),
			},
			translations: {
				CONFIRM_EXIT: 'confirm_exit'|trans({}, 'SonataAdminBundle'),
			},
		}|json_encode()|raw }}'
            {%- endblock -%}>

            <!--Main Navigation-->
            <header>
                {% block sonata_header_noscript_warning %}
                    <noscript>
                    <div class="noscript-warning">
                        {{ 'noscript_warning'|trans({}, 'SonataAdminBundle') }}
                    </div>
                    </noscript>
                {% endblock %}
                {% block sonata_left_side %}
                    <!-- Sidebar navigation -->
                    <div id="slide-out" class="side-nav sn-bg-4 fixed">
                        {% block sonata_side_nav %}
                            <ul class="custom-scrollbar">
                                <!-- Logo -->
                                <li class="logo-sn waves-effect my-3">
                                    <div class="text-center">
                                        {% block logo %}
                                            {% spaceless %}
                                                <a href="{{ path('sonata_admin_dashboard') }}" class="pl-0">
                                                    {% if 'single_image' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                                                        <img src="{{ asset(sonata_admin.adminPool.titlelogo) }}" alt="{{ sonata_admin.adminPool.title }}" class="img-fluid">
                                                    {% endif %}
                                                    {% if 'single_text' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                                                        <span class="grey-text">{{ sonata_admin.adminPool.title }}</span>
                                                    {% endif %}
                                                </a>
                                            {% endspaceless %}
                                        {% endblock %}
                                    </div>
                                </li>
                                <!--/. Logo -->

                                {% block side_bar_before_nav %} {% endblock %}

                                <!--Search Form-->
                                <li>
                                    {% block sonata_sidebar_search %}
                                        {% if sonata_admin.adminPool.getOption('search') %}
                                            <form action="{{ path('sonata_admin_search') }}" method="GET" class="search-form" role="search">
                                                <div class="form-group md-form mt-0 pt-1 waves-light">
                                                    <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="{{ 'search_placeholder'|trans({}, 'SonataAdminBundle') }}">
                                                </div>
                                            </form>
                                        {% endif %}
                                    {% endblock sonata_sidebar_search %}
                                </li>
                                <!--/.Search Form-->

                                <!-- Side navigation links -->
                                {% block side_bar_nav %}
                                    {{ knp_menu_render('sonata_admin_sidebar', {template: get_global_template('knp_menu_template')}) }}
                                {% endblock side_bar_nav %}
                                {% block side_bar_after_nav %}
                                    <li class="text-center small">
                                        {% block side_bar_after_nav_content %}
                                        {% endblock %}
                                    </li>
                                {% endblock %}
                                <!--/. Side navigation links -->
                            </ul>
                        {% endblock sonata_side_nav %}
                        <div class="sidenav-bg mask-strong"></div>
                    </div>
                    <!--/. Sidebar navigation -->
                {% endblock sonata_left_side %}

                {% block sonata_header %}
                    {% block sonata_nav %}
                        <!-- Navbar -->
                        <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar double-nav">
                            <!-- SideNav slide-out button -->
                            <div class="float-left">
                                <a href="#" data-activates="slide-out" class="button-collapse black-text"><i class="fa fa-bars"></i></a>
                            </div>
                            <!-- Breadcrumb-->
                            {% block sonata_breadcrumb %}
                                <div class="breadcrumb-dn mr-auto">
                                    {% if _breadcrumb is not empty or action is defined %}
                                        <ol class="nav navbar-top-links breadcrumb">
                                            {% if _breadcrumb is empty %}
                                                {% if action is defined %}
                                                    {% for menu in breadcrumbs_builder.breadcrumbs(admin, action) %}
                                                        {%- set translation_domain = menu.extra('translation_domain', 'messages') -%}
                                                        {%- set label = menu.label -%}
                                                        {%- if translation_domain is not same as(false) -%}
                                                        {%- set label = label|trans(menu.extra('translation_params', {}), translation_domain) -%}
                                                        {%- endif -%}

                                                        {% if not loop.last %}
                                                            <li>
                                                                {% if menu.uri is not empty %}
                                                                    <a href="{{ menu.uri }}">
                                                                        {% if menu.extra('safe_label', true) %}
                                                                            {{- label|raw -}}
                                                                        {% else %}
                                                                            {{- label -}}
                                                                        {% endif %}
                                                                    </a>
                                                                {% else %}
                                                                    <span>{{ label }}</span>
                                                                {% endif %}
                                                            </li>
                                                        {% else %}
                                                            <li class="active"><span>{{ label }}</span></li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% else %}
                                                        {{ _breadcrumb|raw }}
                                                    {% endif %}
                                        </ol>
                                    {% endif %}
                                </div>
                            {% endblock sonata_breadcrumb %}

                            <!--Navbar links-->
                            {% block sonata_top_nav_menu %}
                                {% if app.user and is_granted(sonata_admin.adminPool.getOption('role_admin')) %}
                                    <ul class="nav navbar-nav nav-flex-icons ml-auto">
                                        {% block sonata_top_nav_menu_add_block %}
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle waves-effect" data-toggle="dropdown" aria-haspopup="true"
                                                   aria-expanded="false">
                                                    <i class="fa fa-plus fa-fw" aria-hidden="true"></i> <span class="clearfix d-none d-sm-inline-block">Add</span
                                                </a>
                                                {% include get_global_template('add_block') %}
                                            </li>
                                        {% endblock %}
                                        {% block sonata_top_nav_menu_user_block %}
                                            <li class="nav-item dropdown">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                    <i class="fa fa-user fa-fw" aria-hidden="true"></i> <span class="clearfix d-none d-sm-inline-block">Profile</span
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                                    <ul>
                                                        {% include get_global_template('user_block') %}
                                                    </ul>
                                                </div>
                                            </li>
                                        {% endblock %}
                                    </ul>
                                {% endif %}
                            {% endblock %}
                            <!--/Navbar links-->
                        </nav>
                        <!-- /.Navbar -->
                    {% endblock %}
                {% endblock sonata_header %}
            </header>
            <!--Main Navigation-->

            {% block sonata_wrapper %}
                <!--Main layout-->
                <main>
                    {% block sonata_page_content %}
                        <div class="container-fluid">
                            {% block sonata_page_content_header %}
                                {% block sonata_page_content_nav %}
                                    {% if _navbar_title is not empty
							  or _tab_menu is not empty
							  or _actions is not empty
							  or _list_filters_actions is not empty
                                    %}
                                    <nav class="navbar navbar-expand-lg navbar-dark primary-color">
                                        <!-- Navbar brand -->
                                        {% block tab_menu_navbar_header %}
                                            {% if _navbar_title is not empty %}
                                                <a class="navbar-brand" href="#">{{ _navbar_title|raw }}</a>
                                            {% endif %}
                                        {% endblock %}

                                        <!-- Collapse button -->
                                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-list"
                                                aria-controls="nav-list" aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                        </button>

                                        <!-- Collapsible content -->
                                        <div class="collapse navbar-collapse" id="nav-list">

                                            <!-- Links -->
                                            {% if _tab_menu is not empty %}
                                                {{ _tab_menu|raw }}
                                            {% endif %}
                                            <!-- Links -->

                                            {% if admin is defined and action is defined and action == 'list' and admin.listModes|length > 1 %}
                                                <div class="btn-toolbar" role="toolbar">
                                                    <div class="btn-group mr-2" role="group">
                                                        {% for mode, settings in admin.listModes %}
                                                            <a href="{{ admin.generateUrl('list', app.request.query.all|merge({_list_mode: mode})) }}" class="btn{% if admin.getListMode() == mode %} active{% endif %}">
                                                                <i class="{{ settings.class }}" aria-hidden="true"></i>
                                                            </a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {% block sonata_admin_content_actions_wrappers %}
                                                {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
                                                    <ul class="container_btn_action">
                                                        {% if _actions|split('</a>')|length > 2 %}
                                                            <li class="nav-item dropdown">
                                                                <a class="nav-link dropdown-toggle" id="navbarAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    {{ 'link_actions'|trans({}, 'SonataAdminBundle') }}
                                                                </a>
                                                                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarAction">
                                                                    {{ _actions|replace({ '<li>': '', '</li>': '' })|raw }}
                                                                </div>
                                                            </li>
                                                        {% else %}
                                                            {{ _actions|raw }}
                                                        {% endif %}
                                                    </ul>
                                                {% endif %}
                                            {% endblock sonata_admin_content_actions_wrappers %}

                                            {% if _list_filters_actions is not empty %}
                                                {{ _list_filters_actions|raw }}
                                            {% endif %}
                                        </div>
                                        <!-- Collapsible content -->
                                    </nav>
                                    {% endif %}
                                        {% endblock sonata_page_content_nav %}
                                            {% endblock sonata_page_content_header %}

                                                {% block sonata_admin_content %}
                                                    {% block notice %}
                                                        {% include '@SonataCore/FlashMessage/render.html.twig' %}
                                                    {% endblock notice %}

                                                    {% if _preview is not empty %}
                                                        <div class="sonata-ba-preview">{{ _preview|raw }}</div>
                                                    {% endif %}

                                                    {% if _content is not empty %}
                                                        <div class="sonata-ba-content">{{ _content|raw }}</div>
                                                    {% endif %}

                                                    {% if _show is not empty %}
                                                        <div class="sonata-ba-show">{{ _show|raw }}</div>
                                                    {% endif %}

                                                    {% if _form is not empty %}
                                                        <div class="sonata-ba-form">{{ _form|raw }}</div>
                                                    {% endif %}

                                                    {% if _list_filters is not empty %}
                                                        <div class="row">
                                                            {{ _list_filters|raw }}
                                                        </div>
                                                    {% endif %}

                                                    {% if _list_table is not empty %}
                                                        <div class="row">
                                                            {{ _list_table|raw }}
                                                        </div>
                                                    {% endif %}
                                                {% endblock sonata_admin_content %}
                                            </div>
                                            {% endblock sonata_page_content %}
                                            </main>
                                            <!--Main layout-->
                                            {% endblock sonata_wrapper %}


                                                {% if sonata_admin.adminPool.getOption('use_bootlint') %}
                                                    {% block bootlint %}
                                                        {# Bootlint - https://github.com/twbs/bootlint#in-the-browser #}
                                                        <script type="text/javascript">
                                                            javascript:(function () {
                                                                var s = document.createElement("script");
                                                                s.onload = function () {
                                                                    bootlint.showLintReportForCurrentDocument([], {hasProblems: false, problemFree: false});
                                                                };
                                                                s.src = "https://maxcdn.bootstrapcdn.com/bootlint/latest/bootlint.min.js";
                                                                document.body.appendChild(s)
                                                            })();
                                                        </script>
                                                    {% endblock %}
                                                {% endif %}

                                                <!--Footer-->
                                                <footer class="page-footer pt-0 mt-5 rgba-stylish-light">

                                                    <!--Copyright-->
                                                    <div class="footer-copyright py-3 text-center">
                                                        <div class="container-fluid">
                                                            © 2018 - {{ "now"|date("Y") }} Copyright: <a href="https://www.adstrategy.fr" target="_blank"> Adstrategy.fr </a>
                                                        </div>
                                                    </div>
                                                    <!--/.Copyright-->

                                                </footer>
                                                <!--/.Footer-->


                                                <!-- SCRIPTS -->
                                                
                                                {% block javascripts %}
                                                    {% block sonata_javascript_config %}
                                                    {% endblock %}

                                                    {% block sonata_javascript_pool %}
                                                        {% for javascript in sonata_admin.adminPool.getOption('javascripts', []) %}
                                                            <script src="{{ asset(javascript) }}"></script>
                                                        {% endfor %}
                                                    {% endblock %}

                                                    {# localize moment #}
                                                    {% set localeForMoment = canonicalize_locale_for_moment() %}
                                                    {% if localeForMoment %}
                                                        <script src="{{ asset(
                                                                'bundles/sonatacore/vendor/moment/locale/' ~
                                                                localeForMoment ~
                                                                '.js'
                                                        ) }}"></script>
                                                    {% endif %}

                                                    {# localize select2 #}
                                                    {% if sonata_admin.adminPool.getOption('use_select2') %}
                                                        {% set localeForSelect2 = canonicalize_locale_for_select2() %}
                                                        {% if localeForSelect2 %}
                                                            <script src="{{ asset('bundles/sonatacore/vendor/select2/select2_locale_' ~ localeForSelect2 ~ '.js') }}"></script>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endblock %}
                                                
                                                <!-- Bootstrap tooltips -->
                                                <script type="text/javascript" src="https://s3.eu-west-3.amazonaws.com/carcustom-prod/js/popper.min.js"></script>
                                                <!-- Bootstrap core JavaScript -->
                                                <script type="text/javascript" src="https://s3.eu-west-3.amazonaws.com/carcustom-prod/js/bootstrap.min.js"></script>
                                                <!-- MDB core JavaScript -->
                                                <script type="text/javascript" src="https://s3.eu-west-3.amazonaws.com/carcustom-prod/js/mdb.min.js"></script>
                                                
                                                <script>
                                                            // SideNav Initialization
                                                            $(".button-collapse").sideNav();

                                                            var container = document.querySelector('.custom-scrollbar');
                                                            Ps.initialize(container, {
                                                                wheelSpeed: 2,
                                                                wheelPropagation: true,
                                                                minScrollbarLength: 20
                                                            });

                                                            // Data Picker Initialization
                                                            $('.datepicker').pickadate();

                                                            // Material Select Initialization
                                                            $(document).ready(function () {
                                                                $('.mdb-select').material_select();
                                                            });

                                                            // Tooltips Initialization
                                                            $(function () {
                                                                $('[data-toggle="tooltip"]').tooltip()
                                                            })
                                                </script>
                                            </body>

                                        </html>
